*{
    border-collapse: collapse;
}
.tabla1 {
    text-align: left;
    width: 75%;
    color: rgb(143, 137, 137);
    background-color: black; 
       
}
.numeros { 
    text-align: center;
    color: white;
}
.arriba {
    background-color: rgb(36, 52, 36);
    color: white;
}
.subtitulos {
    color:rgb(255, 255, 255);
}
small {
    
}
strong {
    color: white;
}
.hovers:hover {
    background-color: rgb(31, 30, 30);
}